
@use "../base/mixins.scss" as *;
@use "../base/variables.scss" as *;

.caseStudy {
    @include card();
    padding: $base-padding;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    .caseStudy__card {
        padding: $base-padding;
        border-radius: $base-border-radius;
        background-color: $gray;
        color: $dark;
        display: flex;
        flex-direction: column;
        gap: 12px;
        h4 {
            text-transform: uppercase;
        }
    }

    .text__vertical {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        text-transform: uppercase;
        padding-bottom: $base-padding;
    }
}