@use "../base/_mixins.scss" as *;
@use "../base/_variables.scss" as *;

.experience {
    display: flex;
    flex-direction: column;
    gap: $base-gap;
    color: $dark;


    .tda__body {
        .experience__card {
            border-radius: $base-border-radius $base-border-radius $base-border-radius 0;
            background-color: $gray;
        }
        .tda__bottom {
            display: flex;
            flex-direction: row;
            .tda__bottom__left {
                width: 50%;
                background-color: $gray;
                border-radius: 0 0 $base-border-radius $base-border-radius;
            }
            .tda__bottom__right {
                width: 50%;
                background-color: $gray;
                border-radius: 0 $base-border-radius $base-border-radius 0;
                .tda__bottom__left__mainBG {
                    background-color: $light;
                    border-radius: $base-border-radius 0 0 0;
                    padding: $base-gap 0 0 $base-gap;
                    .tda__bottom__left__mainBG__active {
                        height: 40px;
                        background-color: $green;
                        border-radius: $base-border-radius;
                    }
                }
            }
        }
    }



    .experience__card {
        background-color: $gray;
        padding: $base-padding;
        border-radius: $base-border-radius;

        img {
            height: 33px;
            width: auto;
        }
        .experience__info {
            display: flex;
            flex-direction: column;
            .info {
                display: flex;
                flex-direction: column;
            }
            .info__row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}