
@use "../base/_mixins.scss" as *;
@use "../base/_variables.scss" as *;


aside {

    .article {
        display: grid;
        grid-gap: $base-gap;
    }

    .poster {

        @include card();

        width: 100%;
        height: 35vh;

        .poster__image {
            position: relative;
            background-size: cover;
            width: 100%;
            height: 100%;
            border-radius: $base-border-radius;
        }
    }

    .social {
        padding: 2em;
        .social__img {
            @include social__img;
        } 
    }
}