

// theme colors
$primary: rgb(7, 7, 7);
$secondary: rgb(2, 45, 2);

$gray: #E9E9E9;
$light: #FFFFFF;
$dark: #1A1B1D;
$green: #6EE6A7;
$blue: #192645;


// color palette 
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "gray": $gray,
    "light": $light,
    "dark": $dark
);


// spacing
$base-padding: 1.7rem;
$base-margin: 0.75rem;

$base-gap: 0.75rem;
$grid-gap: 0.95rem;

$base-lineHeight: 0;

// borders
$base-border-thickness: 1px;
$base-border-radius: 12px;

// box-shadow
$base-box-shadow: 1px 3px 30px rgba(52, 52, 52, 0.15);


// font-sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

// z-index

$layer-0: 0;
$layer-1: 100;
$layer-2: 200;
$layer-3: 300;